
table {
    border-spacing: 0px;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 2em;    
}
th {
    border-bottom: 1px solid #005A9C;
    font-weight: bold;
    padding: 0.5em;
    font-weight: bold;
    color: #000090;
    font-size: 90%
}
td {
    border-bottom: 1px solid #005A9C;
    border-right: 1px solid #efefef;
    padding: 0.5em;
    text-align: left
}
tr td:last-child {
    border-right: none;
}
td *, td > * {
    text-align: left;
}
table, tbody {
    padding: 0;
}

caption {
    text-align: left;
    font-size: 90%
}
